.navbar {
  overflow: hidden;
  background-color: aquamarine;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav {
  float: left;
  display: block;
  color: bisque;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  margin-top: 100px;
}

.image-container {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}

.central-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: contrast(60%);
  border-radius: 25px;
}

.overlay {
  position: absolute;
  left: 45%;
  top: 5%;
  font-weight: 900;
  font-size: xx-large;
  opacity: 0;
  transition: 0.5s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.foot-note {
  text-align: center;
  font-weight: bold;
}

.monster-facts {
  border: 3px solid black;
}

td,
th {
  padding: 3px;
}

th {
  background-color: aquamarine;
}
